@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

a,
a:hover,
a:visited,
a:visited,
a:active {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.ant-table-content::-webkit-scrollbar {
  @apply h-[10px];
}

.ant-table-content::-webkit-scrollbar-thumb {
  @apply rounded-lg;
  @apply bg-stone-700 hover:bg-stone-600;
}
